.App-logo {
    height: 10vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 4vmin);
    color: white;
}

.Task {
    background-color: #282c34;
    flex-direction: column;
    margin: 15px;
    color: white;
    padding: 5px 25px 5px;
    border-radius: 15px;
}

.AddTaskForm {
    background-color: #282c34;
    align-items: center;
    display: flex;
    flex-flow: wrap;
    margin: 15px;
    color: white;
    padding: 1px 25px 1px;
    border-radius: 15px;
}

.AddTaskForm-taskTitle {
    flex-grow: 4;
    margin: 15px 15px 15px 0px;
    font-size: large;
}

.AddTaskForm-taskDetails {
    flex-grow: 4;
    margin: 15px 15px 15px 0px;
    font-size: large;
}

.AddTaskForm-addButton {
    flex-grow: 1;
    margin: 15px 15px 15px 0px;
    background-color: #383e4b;
    color: #fff;
    padding: 10px;
    font-size: large;
}